/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343a40; /* Gray Black background */
    color: #f8f9fa; /* Adjust text color for better contrast */
}

/* Navbar */
.navbar {
    padding: 1rem;
    background-color: #343a40 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff !important;
}

/* Hero Section with Slideshow and Logo */
.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}



.logo-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.logo-overlay img {
    max-width: 300px;
    opacity: 0.8;
    transition: transform 0.5s ease;
}

.logo-overlay img:hover {
    transform: scale(1.05);
}

/* Works Section */
.works-section {
    padding: 50px 0;
    background-color: #212529;
}

.work-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    margin-bottom: 30px;
}

.work-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.work-card iframe {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #ddd;
}

.work-card h3 {
    margin-top: 10px;
    color: #343a40;
    font-size: 1.5rem;
    padding: 15px;
}

.work-card p {
    font-size: 1rem;
    color: #6c757d;
    padding: 0 15px 15px;
}

/* Social Section */
.social-section {
    padding: 20px 0;
    background-color: #212529; /* Dark background outside the main container */
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensure icon is above text */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    width: 100%; /* Make the link take the full width of the div */
    height: 100%; /* Make the link take the full height of the div */
}

.social-link:hover {
    text-decoration: none; /* Ensure no underline on hover */
}


.social-container {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Slightly reduced max-width */
    margin: 0 auto; /* Center the container */
}

.social-link-item {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    flex-direction: column; /* Icons above text on web */
    padding: 10px; /* Reduced padding */
    border-radius: 8px; /* Slightly reduced border radius */
    margin-bottom: 15px; /* Reduced margin between items */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center; /* Center text under the icon */
}

.social-link-item img {
    width: 50px; /* Reduced width */
    height: 50px; /* Reduced height */
    border-radius: 41%; /* Circular images */
    border: 2px solid #f8f9fa;
    padding: 5px; /* Reduced padding inside the circle */
    background-color: #ffffff; /* White background inside the circle */
    margin-bottom: 10px; /* Margin between icon and text */
}

.social-link-item p {
    margin: 0;
    font-size: 1rem; /* Reduced font size */
    font-weight: bold;
    color: #f8f9fa;
    opacity: 0.9;
    transition: color 0.3s ease;
}

/* Unique Backgrounds */
.instagram {
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
}

.whatsapp {
    background: #25d366;
}

.spotify {
    background: #1DB954;
}

.youtube {
    background: #FF0000;
}

.soundcloud {
    background: #ff7700;
}

/* Hover Effects */
.social-link-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.social-link-item p:hover {
    color: #ffffff;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .social-link-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-link-item img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .social-link-item p {
        font-size: 0.9rem; /* Slightly smaller font size for mobile */
    }
}

@media (max-width: 480px) {
    .social-link-item img {
        width: 40px; /* Smaller image size for small screens */
        height: 40px;
    }

    .social-link-item p {
        font-size: 0.8rem; /* Smaller font size for small screens */
    }
}




/* Footer */
footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .social-links {
        flex-direction: column;
    }

    .social-icon {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .hero-section {
        height: 70vh;
    }

    .logo-overlay img {
        max-width: 200px;
    }

    .social-icon {
        width: 50px;
        height: 50px;
    }
}


/* Blur the Swiper images */
.swiper-slide img {
    filter: blur(5.8px); /* Apply a blur effect */
    width: 100%; /* Ensure the images take up full width */
    height: 100%; /* Ensure the images take up full height */
    object-fit: cover; /* Cover the entire slide area */
    
}

/* Adjust for mobile screens */
@media (max-width: 768px) {
    .swiper-slide img {
        height: 100vh; /* Make the image height fill the entire viewport height */
        object-fit: cover; /* Ensure the image covers the slide area */
        object-position: 85% 100%; /* Focus on the right bottom quarter */

    }
}



/* Overlay content */
.swiper-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 3; /* Ensure it appears above the slides */
}

/* Main title style */
.main-title {
    font-size: 6rem; /* Large font size for emphasis */
    font-weight: bold;
    text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.8), /* Strong shadow for depth */
                 2px 2px 10px rgba(255, 255, 255, 0.2), /* Soft glow effect */
                 4px 4px 10px rgba(0, 0, 0, 0.5); /* Additional subtle shadow */
    color: #f8f9fa; /* Light text color to contrast with shadows */
    margin-bottom: 30px;
    letter-spacing: 1px; /* Slight letter spacing for a modern look */
    white-space: nowrap; /* Prevents text wrapping */

}

/* Subtitle style */
.subtitle {
    font-size: 3.5rem; /* Slightly larger subtitle for emphasis */
    margin-bottom: 20px;
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8), /* Deeper shadow for more depth */
                 1px 1px 5px rgba(255, 255, 255, 0.2), /* Soft glow effect */
                 2px 2px 5px rgba(0, 0, 0, 0.5); /* Additional subtle shadow */
    color: #f8f9fa; /* Match main title for consistency */
    font-weight: 300;
    letter-spacing: 0.5px; /* Slight letter spacing */
}


/* Swiper button customization */
.swiper-button-next, .swiper-button-prev {
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1;
}

/* Adjust title sizes for smaller screens */
@media (max-width: 768px) {
    .main-title {
        font-size: 4rem; /* Adjust for tablets */
    }

    .subtitle {
        font-size: 2rem; /* Adjust for tablets */
    }
}

@media (max-width: 480px) {
    .main-title {
        font-size: 3rem; /* Adjust for mobile */
    }

    .subtitle {
        font-size: 1.5rem; /* Adjust for mobile */
    }
}
/* Scroll Down Button */
.scroll-down-button {
    position: absolute;
    bottom: 20px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    font-size: 2rem; /* Size of the icon */
    color: #ffffff;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.scroll-down-button:hover {
    opacity: 1;
}

.scroll-down-button i {
    animation: bounce 2s infinite;
}

/* Bounce animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Contact Section */
.contact-section {
    padding: 50px 0;
    background-color: #f8f9fa; /* Light background color */
}

.contact-section h2 {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 30px;
}

.contact-section .form-control {
    border-radius: 0.25rem;
}

.contact-section .btn {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.contact-section .btn:hover {
    background-color: #0056b3;
}

/* Default to show web slideshow and hide mobile slideshow */
.swiper-container-web {
    display: block;
}


/* Fade-in effect */
.fade-in {
    opacity: 0;
    transform: translateY(20px); /* Optional: Add a slight upward movement */
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0); /* Return to original position */
}


/* For web version (larger screens) */
@media (min-width: 769px) {
    .works-section .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center the items horizontally */
    }

    .works-section .col-md-4 {
        flex: 0 0 65%; /* Two columns per row with spacing */
        max-width: 65%; /* Ensure they don't exceed the row width */
        margin-bottom: 20px;
    }
}

/* For smaller screens, fallback to one video per row */
@media (max-width: 768px) {
    .works-section .row {
        display: block; /* Stack videos in one column */
    }

    .works-section .col-md-4 {
        width: 100%; /* Full width on smaller screens */
        max-width: 100%; /* Ensure full width */
        margin-bottom: 20px; /* Space between rows */
    }
}
.work-card h3, .work-card p {
    direction: rtl;
    text-align: right;
}

